html,body {
    margin:0;
    padding:0;
    height: 100%;
    background-image: url(medical.jpg);
    background-size: 1400px 5000px
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}
header{
    display: block;

}
.form{
    background:#f1f1f1;
    width:470px;
    margin:0 auto;
    padding-left:50px;
    padding-top:20px;
}

.form fieldset{
    border:0px;
    padding:0px;
    margin: 0px;
}

.form p.street1 ,p.street2 ,p.city ,p.contact,p.pincode{
    font-size: 12px;
    margin:0px 0px 10px 0;
    line-height: 14px;
    font-family:Arial, Helvetica;}

.form input[type="text"] {
    width: 400px; }

.form input[type="email"] {
    width: 400px; }

.form input[type="password"] {
    width: 400px; }

.form label { color: #000;
    font-weight:bold;
    font-size: 12px;
    font-family:Arial, Helvetica; }

.form input{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(122, 192, 0, 0.15);
    padding: 7px;
    font-family: Keffeesatz, Arial;
    color: #4b4b4b;
    font-size: 14px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -10px; }

.form input:focus {
    border: 1px solid #ff5400;
    background-color: rgba(255, 255, 255, 1);
}

.form .state {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(select-arrow.png);
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 0px solid #FFF;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form .aj{
    width: 100px;
}
.form .state{
    width: 250px;
}
.form input.button{
    background: #4b8df9;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fbf7f7;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family:Verdana, Geneva, sans-serif;}

.form input.button:hover    { background-color: #2a78f6; }
.social {
    font-size: 1px;
}

/* This gets Facebook to fall into place */
.social iframe {
    vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
    display: inline-block;
    width: 110px;
}

/* Adjust the widths individually if you like */
.social .google {
    width: 75px;
}

